body {
    font-family: Arial, sans-serif;
    background-image: url('assets/images/background.jpg');
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 50px;
    text-align: center;
    background-image: url('assets/images/time.jpg'); /* Atualize o caminho da imagem conforme necessário */
    background-size: cover; /* Faz com que a imagem cubra toda a área disponível */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-color: rgba(255, 0, 0, 0.7); /* Cor de fundo vermelha com opacidade para sobrepor a imagem */
}


.hero h2 {
    font-size: 2.5em;
}

.about, .contact, .gallery {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px;
}

.whatsapp-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}
